* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
    width: 85vw;
}

#contact-button {
    background-color: rgb(77, 177, 235);
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 8px;
    width: 34%;
    margin: 10px;
    height: 70px;
    max-width: 150px;
    max-height: 60px;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-areas: "headline headline student-picture" "student-quote student-quote student-picture" "student-profile student-profile student-contact" "experience-grid experience-grid experience-grid";
    align-items: center;
}

#headline {
    grid-area: headline;
    line-height: 0;
}

#headline h1 {
    color: rgb(19, 99, 190);
    padding-bottom: 0;
    margin-bottom: 0;
}

#headline h2 {
    font-size: 1.5em;
    color: rgb(77, 177, 235);
}

#nav {
    grid-area: nav;
    margin-top: 0;
    padding-top: 0;
}

#nav li {
    list-style: none;
    padding: 10px;
    background-color: white;
    display: inline-block;
    font-size: 1.3em;
    margin-top: 0;
}

#nav a {
    text-decoration: none;
}

#student-picture {
    grid-area: student-picture;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

#student-quote {
    grid-area: student-quote;
    text-align: center;
}

#student-quote>h2 {
    color: black;
    font-size: 1.7em;
    font-weight: 600;
}

#student-profile {
    grid-area: student-profile;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#student-contact {
    flex-wrap: wrap;
    grid-area: student-contact;
    text-align: center;
    vertical-align: top;
    font-size: 1.2em;
    line-height: 1em;
}

#student-contact h2 {
    padding: 0;
    line-height: 1;
    margin-bottom: 0px;
    font-size: 18px;
}

#experience-grid {
    grid-area: experience-grid;
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "experience-code experience-database" "experience-web experience-design";
}

#experience-code {
    grid-area: experience-code;
}

#experience-database {
    grid-area: experience-database;
}

#experience-web {
    grid-area: experience-web;
}

#experience-design {
    grid-area: experience-design
}

#contact-button:hover {
    background-color: rgb(19, 99, 190);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img {
    border-radius: 50%;
    width: 350px;
}

footer img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #student-quote>h2 {
        font-size: 1.5em;
    }
    #main-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        grid-template-areas: "headline student-picture" "student-quote student-picture" "student-quote student-contact" "student-profile student-profile" "experience-grid experience-grid";
    }
    #experience-grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: "experience-code experience-database" "experience-web experience-design";
    }
    #student-picture img {
        max-width: 250px;
    }
}

@media screen and (max-width: 450px) {
    #student-quote>h2 {
        font-size: 1.4em;
        text-align: center;
    }
    #main-grid {
        grid-template-columns: 1fr;
        column-gap: 35px;
        row-gap: 50px;
        grid-template-areas: "headline" "student-picture" "student-quote" "student-profile" "student-contact" "experience-grid";
    }
    #experience-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "experience-code" "experience-database" "experience-web" "experience-design";
    }
    #student-picture img {
        max-width: 75%;
    }
}