* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: azure;
    color: cornflowerblue;
}

nav {
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px solid;
}


/*mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: 999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,
.bars::after {
    background: 999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

.header {
    background-color: azure;
    overflow: hidden;
    color: white;
    margin: 0px;
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
}

.menuItem {
    margin: 0%;
    gap: 0px;
    flex-grow: 1;
}

.header h1 {
    color: darkblue;
    display: inline;
    margin: 0px;
    padding: 5px;
    size: 2em;
}

.header h2 {
    color: cornflowerblue;
    display: inline;
    margin: 0px;
    padding: 5px;
}

figure {
    align-items: center;
}

.round {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.center {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .navbar {
        width: fit-content;
        justify-content: flex-end;
    }
    .round {
        max-width: 50%;
    }
}